body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin-top:175px;
}

.container {
    text-align: center;
}

canvas#drawCanvas {
    border: 1px solid pink;
    cursor: crosshair;
}

.Button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}